<!-- same and available for both -->

<%- include('partials/header'); -%>

<h1>Diagnose History</h1>

<% if(diagnoses.length === 0){ %>
    <p>No data found</p>
<% } else{ %>
    <% for(let i=diagnoses.length-1;i>=0;i--){ %>
        <div class="card">
            <h3 class="card-header"><%= diagnoses[i].date %></h3>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <label for="">Disease Information</label>
                <p class="card-text">
                    <%= diagnoses[i].diseaseInfo %>
                </p>
<!--
                <label for="">Prescribed Medicine</label>
                <p class="card-text">
                    <%= diagnoses[i].medicine %>
                </p>

                <label for="">Remark</label>
                <p class="card-text">
                    <%= diagnoses[i].remark %>
                </p>
            -->
                <a href="/diagnose-history/<%= diagnoses[i].date %>" class="btn btn-primary">View More</a>
            </div>
        </div>
    <% } %>
<% } %>


<%- include('partials/footer'); -%>
